.carousel-part {
  background-image: url(images/Vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.caro-fh1 {
  margin-top: 175px;
}

section.carousel-part h1 {
  font-size: 51px;
  font-weight: 700;
}

section.carousel-part p {
  width: 441px;
  font-size: 18px;
  margin-top: 35px;
  color: #ffffffad;
}

button.btn {
  color: white;
  padding: 9px 20px;
  background: #ef233c;
  font-size: 17px;
  margin-bottom: 174px;
}

section.donation-show {
  margin-top: 100px;
}

.dona-content h1 {
  font-weight: 700;
}

.dona-content p {
  font-size: 21px;
  color: #0000009e;
}

.dona-content {
  padding: 50px;
}
.dona-img img {
  width: 80%;
  border-radius: 11px;
  margin-left: 33px;
}
#donation-show-bottom {
  margin-top: -77px;
}
